
body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    overflow: hidden; 
}


.loading-screen {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    background-color: #0078d7; 
    color: #ffffff; 
    font-family: Arial, sans-serif;
    font-size: 1.5em;
}

.spinner {
    border: 8px solid rgba(255, 255, 255, 0.2);
    border-radius: 50%;
    border-top: 8px solid #ffffff; 
    width: 60px;
    height: 60px;
    animation: spin 1s linear infinite; 
}


@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}